/* CSS RESET */
  
*, *::before, *::after {
  box-sizing: border-box;
}
  
* {
  margin: 0;
}
  
html, body {
  height: 100%;
}
  
body {
  line-height: 1.5;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
}
  
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
  
input, button, textarea, select {
  font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
  
/* Site CSS Code */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #14141f;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

#root {
  height: 100%;
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.routes__container {
  flex-grow: 1;
}

/* Header */

header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75px;
  top: 0;
  /* background-color:#14141f; */
  box-shadow: 2px 2px 4px -2px #E250E5;
}

.header__container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding: 0 45px;
}

/* Navigation */

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 6rem;
  margin-bottom: 0;
  list-style: none;
}

.nav__item a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.nav__item a:hover {
  color: #fff;
}

.active {
  color: #e250e5 !important;
}

/* Home */

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: space-around;
  background-image: url('./assets/other-bg.svg');
  background-size: contain;
}

/* Marketplace */

.marketplace-container {
  background-image: url('./assets/other-bg.svg');
  background-size: contain;
  height: 100%;
}

/* Footer */